body {
  background-color: white; }

#AddressForm {
  width: 300px; }

meter {
  width: 500px; }

table {
  text-align: center;
  width: 50%;
  background: #8b1b1b; }

legend {
  background: pink;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0 0 20px 0.1px; }
