$red: rgb(139, 27, 27);
$blue: dodgerblue ;
$backgroundColor : white;


body {
    background-color: $backgroundColor;
}
#AddressForm {
    width: 300px;
}

meter {
    width: 500px;
}

table {
    text-align: center;
    width: 50%;
    background: $red;
}

legend {
    background: pink;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0 0 20px 0.1px;
}

header {
    border-bottom: 2px solid #333333;
}

h1{
    color: $blue ;
}